.question-board {
    width: 90%;
    min-height: 170px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}
.question-toolbar {
    display: flex;
}

.question-toolbar label {
    padding: 0 20px;
    line-height: 80px;
}

.question-toolbar input {
    border: 0 ;
    background-color: #ffffff;
    width: 60%;
    margin: 20px;
    padding: 10px 20px;
    outline-color: transparent;
}
.question-toolbar input:hover {
    border: 1px dashed;
}
.question-toolbar input:focus {
    background-color: #f4f4f4;
}
.question-toolbar-group {
    display: flex;
    width: 25%;
}

.toolbar-icon {
    font-size: 24px;
    line-height: 80px;
    padding: 0 15px;
}

.toolbar-icon:hover {
    cursor: pointer;
}

.question-area {
    
}