.radioTemplate{
    padding: 18px;
}
.radioGroup,.optionsToolbar-btn{
    position: relative;
    left: 65px;
}
.radioGroup {
    display: flex;
}
.radioOption{
    padding-left:45px;
    border: 0;
    width: 60%;
    height: 35px;
    background-color:#ffffff ;
    outline: none;
}

.radioOption:hover{
    border: 1px dashed;
}

.radioOption:focus{
    background-color:#f4f4f4 ;
}

.radio-circle{
    border: 1px solid;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    right: 58%;
    top:10px;
}
.optionsToolbarIcon{
    font-size: 18px;
    line-height: 35px;
}
.optionsToolbarIcon:hover{
    cursor: pointer;
}
.optionsToolbar{
    display: flex;
    margin-top: 24px;
}
.optionsToolbar-btn{
    height: 30px;
    color: #2672FF;
    padding: 3px 8px;
    margin-right: 16px;
}
.optionsToolbar-btn:hover{
    cursor: pointer;
    background-color: #f4f4f4;
}
.optionsToolbar-btn i {
    font-size: 18px;
    color: #2672FF;
}
.optionsToolbar-btn span {
    position: relative;
    bottom: 2px;
    left: 5px;
}