<div class="addProject">
    <div class="addProject_header">
        <div class="addProject_backTo">
            <i nz-icon nzType="backward" nzTheme="outline" (click)="onBack()"></i>
        </div>  
        <div class="addProject_step">
            <nz-steps [nzCurrent]="current">
                    <nz-step [nzTitle]="firstTitle"></nz-step>
                    <nz-step [nzTitle]="secondTitle"></nz-step>
                    <nz-step [nzTitle]="thirdTitle"></nz-step>
            </nz-steps>
        </div>
        <div class="addProject_userInfo"></div>
    </div>
    <nz-layout>
        <div class="addProject_menu">
            <ul *ngFor="let item of menu">
                <li (click)="changeMenu($event,item['id'])">{{item['title']}}</li>
            </ul>
        </div>
        <ng-container>
            <div class="addProject_menu_child">
                <!-- 工具栏 -->
                <ng-container *ngFor="let item of toolbar">
                    <ul [id]="item['id']" *ngIf="item['id'] === currentMenu">
                        <li *ngFor="let child of item['items']">
                            <label>{{child['title']}}</label>
                            <div class="example_module">
                                <ng-container *ngFor="let childItem of child['children']">
                                    <div class="example_module_child" [id]="childItem['id']">
                                        {{childItem['title']}}
                                    </div>
                                </ng-container>
                            </div>
                        </li>
                    </ul>
                </ng-container>
            </div> 
        </ng-container>
        <!-- 题型/题库 -->
        <div class="addProject_config" *ngIf="currentMenu == menu[0]['id']">       
            <div class="steps-content">
                <!-- 标题 -->
                <div class="templateTitle">
                    <div class="mainTitle">
                        <input [ngClass]="{'titleFocus':isTitleFocus}" placeholder="问卷标题">
                    </div>
                    <div class="subheading">
                        <input [ngClass]="{'titleFocus':isTitleFocus}" placeholder="感谢您能抽出几分钟时间来参加本次答题，现在我们就马上开始吧！">
                    </div>
                </div>
                <!-- 拖入区域 -->
                <!-- 发布 -->
            </div>
            <div class="steps-buttons">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>前一步</span>
                </button>
                <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
                    <span>下一步</span>
                </button>
                <button nz-button nzType="primary" (click)="complete()" *ngIf="current === 2">
                    <span>完成</span>
                </button>
            </div>
        </div>
        <!-- 外观 -->
    </nz-layout>   
</div>