
.addProject{
    position: absolute;
    left: 0;
    top: 0;
    z-index:100;
    width:100%;
    height:100%;
    background-color: #f0f2f5;
}

.addProject_header {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  width:100%;
  height: 64px;
}
.addProject_backTo {
  width: 10%;
}
.addProject_step {
  width: 75%;
  position: relative;
  top:15px;
}
.addProject_userInfo {
  display: flex;
  width: 15%;
}
.addProject_backTo, .addProject_userInfo {
  line-height: 64px;
}
nz-header,nz-content,nz-footer {
  background: #fff;
}

.addProject_menu {
  width: 70px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  position: fixed;
  top: 75px;
  left: 0;
  z-index: 99;
  text-align: center;
  border-right: 1px solid #d8d8d8;
}

.addProject_menu_child{
  width: 300px;
  height: 100%;
  background-color: #ffffff;
  position: fixed;
  top: 75px;
  left: 72px;
  overflow: auto;
  z-index: 99;
  border-right: 1px solid #e8e8e8;
  padding: 20px 0px 80px 12px;
}

.addProject_config{
  padding-left: 380px;
  background-color: #ffffff;
}
nz-layout {
  margin: 10px 0;
}
