<div class="addProject">
    <div class="addProject_header">
        <div class="addProject_backTo">
            <span>返回</span>
        </div>  
        <div class="addProject_step">
                <nz-steps [nzCurrent]="current">
                        <nz-step [nzTitle]="firstTitle"></nz-step>
                        <nz-step [nzTitle]="secondTitle"></nz-step>
                        <nz-step [nzTitle]="thirdTitle"></nz-step>
                </nz-steps>
        </div>
        <div class="addProject_userInfo"></div>
    </div>
    <nz-layout>
        <div class="addProject_menu">
            <ul *ngFor="let item of menu">
                <li (click)="changeMenu($event,item['id'])">{{item['title']}}</li>
            </ul>
        </div>
        <ng-container>
            <div class="addProject_menu_child">
                <!-- 工具栏 -->
            </div> 
        </ng-container>
        <!-- 题库 -->
        <div class="addProject_config" *ngIf="currentMenu == menu[0]['id']">
            
            <div class="steps-content">zyk</div>
            <div class="steps-buttons">
                <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
                    <span>前一步</span>
                </button>
                <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
                    <span>下一步</span>
                </button>
                <button nz-button nzType="primary" (click)="complete()" *ngIf="current === 2">
                    <span>完成</span>
                </button>
            </div>
        </div> 
    </nz-layout>   
</div>