<div class="addProject">
    <nz-header>
        <span>返回</span>
    </nz-header>
    <nz-layout>
        <nz-sider>
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </nz-sider>
        
        <nz-content>
            <nz-steps [nzCurrent]="current">
                <nz-step [nzTitle]="firstTitle"></nz-step>
                <nz-step [nzTitle]="secondTitle"></nz-step>
                <nz-step [nzTitle]="thirdTitle"></nz-step>
            </nz-steps>
            <div class="steps-content">zyk</div>
        </nz-content>
       
    </nz-layout>
    <nz-footer>
        <button nz-button nzType="default" (click)="pre()" *ngIf="current > 0">
            <span>前一步</span>
        </button>
        <button nz-button nzType="default" (click)="next()" *ngIf="current < 2">
            <span>下一步</span>
        </button>
        <button nz-button nzType="primary" (click)="complete()" *ngIf="current === 2">
            <span>完成</span>
        </button>
    </nz-footer>
</div>
<!-- <div class="container">
        <div *ngIf="current === 0">
            第一页
        </div>
        <div *ngIf="current === 1">
            第二页
        </div>
        <div *ngIf="current === 2">
            第三页
        </div>
    </div> -->