ul {
  margin: 0;
  padding: 0;
}
.addProject{
  position: absolute;
  left: 0;
  top: 0;
  z-index:100;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: #f0f2f5;
}

.addProject_header {
  display: flex;
  justify-content: flex-end;
  background: #fff;
  width:100%;
  height: 64px;
}
.addProject_backTo {
  width: 10%;
}
.addProject_step {
  width: 75%;
  position: relative;
  top:15px;
}
.addProject_userInfo {
  display: flex;
  width: 15%;
}
.addProject_backTo, .addProject_userInfo {
  line-height: 64px;
}
nz-header,nz-content,nz-footer {
  background: #fff;
}
.addProject_body{
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  top:10px;
}
.addProject_menu {
  width: 70px;
  height: 100%;
  background-color: #fff;
  text-align: center;
  border-right: 1px solid #d8d8d8;
}
.addProject_menu ul li{
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.addProject_menu_child{
  width: 450px;
  height: 100%;
  background-color: #ffffff;
  overflow-y: auto;
  border-right: 1px solid #e8e8e8;
  padding: 20px 0px 80px 12px;
}
.addProject_menu_child ul li{
  margin-bottom: 15px;
}
.addProject_menu_child ul li label {
  margin-left: 5px;
}
.example_module {
  display: -webkit-flex; 
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}
.example_module_child
{
  border: 1px solid #e8e8e8;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin:5px 0 0 5px;
}
.example_module_child:hover {
  border: 2px solid #2672ff;
}
.addProject_config{
  position: relative;
  left: 50px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #f0f2f5;
}


[nz-icon] {
  margin-right: 6px;
  font-size: 24px;
  position: relative;
  left: 25px;
}

[nz-icon]:hover{
  cursor: pointer;
}

.templateTitle {
  width: 90%;
  height: 170px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);  
}
.mainTitle input {
  font-size: 20px;
}

.subheading input {
  font-size: 16px;
  margin-top: 0;
}

.mainTitle input,.subheading input {
  border: 0 ;
  background-color: #ffffff;
  width: 95%;
  margin: 20px;
  padding: 10px 20px;
  outline-color: transparent;
}

.mainTitle input:hover {
  border: 1px dashed;
}
.subheading input:hover {
  border: 1px dashed;
}
.mainTitle input:focus{
  background-color: #f4f4f4;
}
.subheading input:focus{
  background-color: #f4f4f4;
}
.steps-content{
  min-height: 450px;
}